# deps
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# uploads (local file storage)
server/uploads/
